{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="container">
  <p>
    <strong>Grego+</strong> [gregoplus]
    is a read-only database of Gregorian chant pieces from modern era (cca 1880+) editions.<br>
    Data based on the <a href="https://gregobase.selapa.net/">GregoBase</a>
    database dump
    (available on <a href="https://github.com/gregorio-project/GregoBase">Github</a>).<br>

    <strong>{{ chant_count }}</strong> chants,
    <strong>{{ source_count }}</strong> <a href="{% url 'source' %}">books</a>.
  </p>

  <div class="row my-4">
    {% for score in scores %}
    <div class="col col-md-6">
      <div class="card">
        <div class="card-body">
          <a href="{% url 'usage_detail' score.office_part %}">{{ score.get_office_part_display }}</a>
          {{ score.incipit }}
          <div class="text-center my-3">
            <a href="{% url 'detail' score.id %}">
              <img src="https://gregobase.selapa.net/chant_img.php?id={{ score.id }}" alt="{{ score.incipit }}" style="max-width: 100%;">
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
