{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="container">
  <p>
    <strong>Grego+</strong> [gregoplus]
    is a read-only database of Gregorian chant pieces from modern era (cca 1880+) editions.<br>
    Data based on the <a href="https://gregobase.selapa.net/">GregoBase</a>
    database dump
    (available on <a href="https://github.com/gregorio-project/GregoBase">Github</a>).<br>

    <strong>{{ chant_count }}</strong> chants
    from
    <strong>{{ source_count }}</strong> <a href="{% url 'scores:source' %}">books</a>.
  </p>

  <div class="row my-4">
    {% for score in scores %}
    <div class="col col-md-6">
      {% include 'home/_score_card.html' %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
