<table class="table">
  <thead>
    <tr>
      {% block thead_prepend %}
      {% endblock %}
      <th>incipit</th>
      <th>usage</th>
      <th>mode</th>
      <th>version</th>
      <th>CANTUS ID</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for score in scores %}
    <tr>
      {% block tbody_tr_prepend %}
      {% endblock %}
      <td><a href="{{ score.get_absolute_url }}">{{ score.incipit | default:'[no lyrics]' }}</a></td>
      <td>{% include 'scores/_office_part.html' %}</td>
      <td>{{ score.mode|default:'' }}</td>
      <td>
        {% if score.version is not None %}
          {{ score.version }}
        {% endif %}
      </td>
      <td>
        {% if score.cantusid %}
          <a href="https://cantusindex.org/id/{{ score.cantusid }}">{{ score.cantusid }}</a>
        {% endif %}
      </td>
      <td><a href="{% url 'scores:gabc' score.id %}" class="btn btn-sm btn-outline-secondary">GABC</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include './_pagination.html' %}
