{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}Scores{% endblock %}</h1>

<form method="get" class="mb-3">
  <div class="row gy-2 gx-3 align-items-start">
    <label for="{{ form.incipit.id_for_label }}" class="col-12 col-md-1 col-form-label form-label fw-semibold">{{ form.incipit.label }}</label>
    <div class="col col-12 col-md-9">
      {{ form.incipit }}
    </div>

    <div class="col-12 col-md-2">
      <button type="submit" class="btn btn-primary px-4">Filter</button>
      <a class="btn btn-outline-secondary px-4 {% if form.is_empty %}disabled{% endif %}" href="{% url 'scores:index' %}">Reset</a>
    </div>
  </div>

  <div class="row mt-4">
    <span class="fw-semibold">{{ form.mode.label }}</span>
    {% for checkbox in form.mode %}
      <div class="col-4 col-md-1">
        <div class="form-check form-check-inline text-nowrap overflow-hidden">
          {{ checkbox.tag }}
          <label class="form-check-label d-inline" for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="row mt-4">
    <span class="fw-semibold">{{ form.office_part.label }}</span>
    {% for checkbox in form.office_part %}
      <div class="col-6 col-lg-2 text-nowrap overflow-hidden">
        <div class="form-check form-check-inline">
          {{ checkbox.tag }}
          <label class="form-check-label d-inline" for="{{ checkbox.id_for_label }}" title="{{ checkbox.choice_label }}">{{ checkbox.choice_label }}</label>
        </div>
      </div>
    {% endfor %}
  </div>
</form>

{% include './_score_list.html' %}
{% endblock %}
